.conteudo{

    margin-left: 25%;
    margin-top: 5%;
    margin-right: 25%;

    border: solid;
    border-width: thin;
    

}

.inputs{
 margin-left: 15%;
    margin-top: 5%;
    margin-right: 15%;

  
}

label{
	font-size: 15px;
}

h1{
	margin-top: 2%;

}
#legend{
	border: solid;
    border-width: thin;
    margin-top: 5%;
}


