.conteudo{

   margin-left: 20%;
    margin-top: 5%;
    margin-right: 20%;
    border: solid;
    border-width: thin;
     border-color: #3071a9;

}

.inputs{
 margin-left: 15%;
    margin-top: 5%;
    margin-right: 15%;
  
}
table{
    margin-right: 15%;
}

label{
	font-size: 15px;
}
