body{
	background-color: #302B27;
}

.conteudo{

    margin-left: 5%;
    margin-top: 2%;
    margin-right: 5%;
    

}

.inputs{
 margin-left: 25%;
    margin-top: 5%;
    margin-right: 30%;
  
}

a{
	height: 50px;
	margin-top: 45px;
	
}

#ah{
  height: 50px;
  margin-top: 0px;
}

#a1{
margin-top: 40px;
  margin-left: 300px;
  height: 50px;

}

#button1{
	margin-top: 75px;
}

#h11{
	font-size: 50px;
	 font-family: Arial, Helvetica, sans-serif;
	 margin-top: 55px;
}

#h12{
	font-size: 30px;
	 font-family: Arial, Helvetica, sans-serif;
	 margin-top: 65px;
	 height: 65px;

}
#card{
	margin-left: 270px;
	margin-right: 20px;
}





.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  
  margin-top: 40px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #FED766;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #3071a9;
  color: white;
  transform: rotateY(180deg);
}